@if ($use-sensible-defaults == true) {
   * {
      -webkit-overflow-scrolling: touch;
      box-sizing: inherit;

      &:before, &:after {
         box-sizing: inherit;
      }
   }

   html {
      box-sizing: border-box;
      font-size: $font-base-size;
      height: 100vh;
   }

   :focus { outline: none; }
   ::selection { text-shadow: none; }

   body {
      @include flatten();
      @extend .leading-loose;
      @extend .font-system-sans;

      -moz-osx-font-smoothing: grayscale !important;
      -webkit-font-smoothing: antialiased !important;
      height: 100vh;
      min-width: $site-min;
   }

   img {
      @include flatten();

      border-style: none;
      font-style: italic;
      max-width: 100%;
      vertical-align: middle;

      &[width], &[height] {
         max-width: none;
      }
   }

   svg { fill: currentColor; }

   h1, h2, h3, h4, h5, h6, p, blockquote { @include flatten(); }

   h1 { @extend .font-size-1; }
   h2 { @extend .font-size-2; }
   h3 { @extend .font-size-3; }
   h4 { @extend .font-size-4; }
   h5 { @extend .font-size-5; }
   h6 { @extend .font-size-6; }

   p, ul, ol { font-size: inherit; }

   button, label { cursor: pointer; }

   a {
      color: inherit;
      cursor: pointer;

      font: {
         family: inherit;
         weight: inherit;
      }
   }

   table { border-collapse: collapse; }

   textarea { resize: vertical; }

   audio, canvas, iframe, img, svg, video { vertical-align: middle; }

   nav {
      ol, ul {
         @include flatten();

         list-style-type: none;

         li {
            @include flatten();
         }
      }
   }

   a, area, button, input, label, select, summary, textarea, [tabindex] {
      -ms-touch-action: manipulation;
      touch-action: manipulation;
   }

   [aria-busy="true"] { cursor: progress; }

   [aria-controls] { cursor: pointer; }

   [aria-disabled] { cursor: default; }
}

