.bgs {
   @include builder ((modifier: 'cover'))   { background-size: cover;   }
   @include builder ((modifier: 'contain')) { background-size: contain; }
}

.bgp {
   @include builder ((modifier: 'top'))    { background-size: top;    }
   @include builder ((modifier: 'right'))  { background-size: right;  }
   @include builder ((modifier: 'bottom')) { background-size: bottom; }
   @include builder ((modifier: 'left'))   { background-size: left;   }
   @include builder ((modifier: 'center')) { background-size: center; }
}

