.d {
   @each $key, $value in $breakpoint-list {
      @include builder ((modifier: 'b', query: $key))     { display: block;        }
      @include builder ((modifier: 'show', query: $key))  { display: block;        }
      @include builder ((modifier: 'hide', query: $key))  { display: none;         }
      @include builder ((modifier: 'n', query: $key))     { display: none;         }
      @include builder ((modifier: 'i', query: $key))     { display: inline;       }
      @include builder ((modifier: 'ib', query: $key))    { display: inline-block; }
      @include builder ((modifier: 'flx', query: $key))   { display: flex;         }
      @include builder ((modifier: 'iflx', query: $key))  { display: inline-flex;  }
      @include builder ((modifier: 'g', query: $key))     { display: grid;         }
      @include builder ((modifier: 'ig', query: $key))    { display: inline-grid;  }
      @include builder ((modifier: 'sg', query: $key))    { display: subgrid;      }
   }
}
