@each $key, $breakpoint in $breakpoint-list {
   .ovr {
      @include builder ((modifier: 'hide', query: $key))   { overflow: hidden; }
      @include builder ((modifier: 'scroll', query: $key)) { overflow: scroll; }

      &-x {
         @include builder ((modifier: 'hide', query: $key))   { overflow-x: hidden; }
         @include builder ((modifier: 'scroll', query: $key)) { overflow-x: scroll; }
      }
      &-y {
         @include builder ((modifier: 'hide', query: $key))   { overflow-y: hidden; }
         @include builder ((modifier: 'scroll', query: $key)) { overflow-y: scroll; }
      }
   }
}
