@for $i from 1 through $z-steps {
   .z {
      @include builder ((value: $i)) { z-index: $i * 2; }
   }
}

@each $key, $breakpoint in $breakpoint-list {
   .position {
      @include builder ((modifier: 'rel', query: $key))   { position: relative; }
      @include builder ((modifier: 'abs', query: $key))   { position: absolute; }
      @include builder ((modifier: 'fixed', query: $key)) { position: fixed;    }
   }

   .pin {
      @include builder ((modifier: 'top', query: $key))     { top: 0;    }
      @include builder ((modifier: 'right', query: $key))   { right: 0;  }
      @include builder ((modifier: 'bottom', query: $key))  { bottom: 0; }
      @include builder ((modifier: 'left', query: $key))    { left: 0;   }
      @include builder ((modifier: 'corners', query: $key)) {
         bottom: 0;
         left: 0;
         right: 0;
         top: 0;
      }
   }
}
