$increment: false;
$responsive: true;
$have-states: true;

$weights: (
   thin: 100,
   extra-light: 200,
   light: 300,
   regular: 400,
   medium: 500,
   semi-bold: 600,
   bold: 700,
   extra-bold: 800,
   black: 900,
);

@mixin class($state, $type) {

   #{$type}tracking {
      &-auto { letter-spacing: auto; }
      &-tight { letter-spacing: -0.05em; }
      &-normal { letter-spacing: 0; }
      &-wide { letter-spacing: 0.05em; }
   }

   #{$type}leading {
      &-auto { line-height: 1 }
      &-tight { line-height: 1.25; }
      &-normal { line-height: 1.5; }
      &-loose { line-height: 2; }
   }

   #{$type}text {
      &-left#{$state} { text-align: left;   }
      &-right#{$state} { text-align: right;  }
      &-center#{$state} { text-align: center; }
      &-justify#{$state} { text-align: justify; }

      &-roman#{$state} { font-style: none; }
      &-italic#{$state} { font-style: italic; }

      &-underline#{$state} { text-decoration: underline;  }
      &-no-underline#{$state} { text-decoration: none;  }

      &-upper#{$state} { text-transform: uppercase;  }
      &-strike#{$state} { text-transform: line-through;  }
      &-no-strike#{$state} { text-transform: normal; }
      &-normal#{$state} { text-transform: none; }
      &-lower#{$state} { text-transform: lowercase;  }
      &-cap#{$state} { text-transform: capitalize; }
      &-full#{$state} { text-transform: full-width; }
      &-hidden#{$state} {
         overflow: hidden;
         text-indent: 100%;
         white-space: nowrap;
      }
   }

   #{$type}font {
      @each $name, $family in $font-families {
         &-#{$name}#{$state} { font-family: $family; }

         @if ($name != 'mono' or $name != 'code') {
            @each $key, $value in $weights {
               &-#{$name}-#{$key}#{$state} { font-family: $family; font-weight: $value; }
            }
         }
      }

      @each $key, $value in $weights {
         &-#{$key}#{$state} { font-weight: $value; }
      }

      @for $i from $font-count through 1 {
         $position: ($font-count + 1) - $i;
         &-size-#{$i} { font-size: nth($font-sizes, $position); }
      }
   }
}

@include build($increment, $responsive, $have-states);
