@for $i from 1 through $width-breaks {
   $value: $i * $width-multiple;

   @each $key, $breakpoint in $breakpoint-list {
      .w {
         @include builder ((value: $value, query: $key)) { width: $value * 1%; }

         @include builder ((value: 'min', query: $key))  { width: $site-min;   }
         @include builder ((value: 'max', query: $key))  { width: $site-max;   }
         @include builder ((value: 'full', query: $key)) { width: 100%;        }
      }
      .mnw {
         @include builder ((value: $value, query: $key)) { min-width: $value * 1%; }

         @include builder ((value: 'min', query: $key))  { min-width: $site-min;   }
         @include builder ((value: 'max', query: $key))  { min-width: $site-max;   }
         @include builder ((value: 'full', query: $key)) { min-width: 100%;        }
      }
      .mxw {
         @include builder ((value: $value, query: $key)) { max-width: $value * 1%; }

         @include builder ((value: 'min', query: $key))  { max-width: $site-min;   }
         @include builder ((value: 'max', query: $key))  { max-width: $site-max;   }
         @include builder ((value: 'full', query: $key)) { max-width: 100%;        }
      }
   }
}
