$increment: false;
$responsive: true;
$have-states: true;

@mixin class($state, $type) {
   #{$type}circle#{$state} { border-radius: 100%; }
}

@mixin classes($i, $state, $type) {
   #{$type}border {
      &-#{$i}#{$state}    { border-style: solid; border: #{$i}px; }
      &-#{$i}-top#{$state} { border-top-style: solid; border-top-width: #{$i}px; }
      &-#{$i}-right#{$state} { border-right-style: solid; border-right-width: #{$i}px; }
      &-#{$i}-bottom#{$state} { border-bottom-style: solid; border-bottom-width: #{$i}px; }
      &-#{$i}-left#{$state} { border-left-style: solid; border-left-width: #{$i}px; }
   }

   #{$type}round {
      &-#{$i}#{$state}    { border-radius: #{$i}px; }
      &-#{$i}-top#{$state} { border-top-left-radius: #{$i}px; border-top-right-radius: #{$i}px; }
      &-#{$i}-top-left#{$state} { border-top-left-radius: #{$i}px; }
      &-#{$i}-top-right#{$state} { border-top-right-radius: #{$i}px; }
      &-#{$i}-right#{$state} { border-top-right-radius: #{$i}px; border-bottom-right-radius: #{$i}px; }
      &-#{$i}-bottom#{$state} { border-bottom-left-radius: #{$i}px; border-bottom-right-radius: #{$i}px;}
      &-#{$i}-bottom-left#{$state} { border-bottom-left-radius: #{$i}px; }
      &-#{$i}-bottom-right#{$state} { border-bottom-right-radius: #{$i}px; }
      &-#{$i}-left#{$state} { border-top-left-radius: #{$i}px; border-bottom-left-radius: #{$i}px; }
   }
}

@include build($increment, $responsive, $have-states);
@for $i from 0 through $border-amount {
   @include build($i, $responsive, $have-states);
}











