$increment: false;
$responsive: true;
$have-states: true;

@mixin class($state, $type) {
   #{$type}block#{$state} { display: block; }
   #{$type}show#{$state} { display: block; }
   #{$type}hide#{$state} { display: none; }
   #{$type}flex#{$state} { display: flex; }

   #{$type}inline#{$state} { display: inline; }
   #{$type}inline-block#{$state} { display: inline-block; }
   #{$type}inline-flex#{$state} { display: inline-flex; }
   #{$type}inline-grid#{$state} { display: inline-grid; }

   #{$type}grid#{$state} { display: grid; }
   #{$type}sub-grid#{$state} { display: subgrid; }
}

@include build($increment, $responsive, $have-states);
