$increment: false;
$responsive: true;
$have-states: false;

@mixin class($state, $type) {
   #{$type}overflow {
      &-hide { overflow: hidden; }
      &-scroll { overflow: scroll; }

      &-x-hide { overflow-x: hidden; }
      &-x-scroll { overflow-x: scroll; }

      &-y-hide { overflow-y: hidden; }
      &-y-scroll { overflow-y: scroll; }
   }
}

@include build($increment, $responsive, $have-states);
