
@mixin color-variants($type, $hex) {
   @for $i from 1 to 19 {
      $key: $i * 5;
      // Darken
      @if ($hex != #000000 or $hex != #000) {
         @include variant($key, 'darken') { #{$type}: darken($hex, $key); }
      }

      // Lighten
      @if ($hex != #ffffff or $hex != #fff) {
         @include variant($key, 'lighten') { #{$type}: lighten($hex, $key); }
      }

      // Opacity
      @include variant($key,'opacity' )  { #{$type}: rgba($hex, $key / 100); }
   }
}

@each $key, $hex in $colors {
   .color {
      @include modifier('background', $key) {
         background-color: $hex;

         @include color-variants('background-color', $hex);
      }
      @include modifier('background', 'transparent') {
         background-color: transparent;
      }
      @include modifier('text', $key) {
         color: $hex;

         @include color-variants('color', $hex);
      }
      @include modifier('border', $key) {
         border-color: $hex;

         @include color-variants('border', $hex);
      }
      @include modifier('border', 'transparent') {border-color: transparent; }

      @include modifier(':background', $key, 'hover') {
         background-color: $hex;

         @include color-variants('background-color', $hex);
      }
      @include modifier(':background', 'transparent', 'hover') { background-color: transparent; }
      @include modifier(':text', $key, 'hover') {
         color: $hex;

         @include color-variants('color', $hex);
      }
      @include modifier(':border', $key, 'hover') {border-color: $hex; }
      @include modifier(':border', 'transparent', 'hover') {border-color: transparent; }

      @include modifier('::background', $key, 'focus') {
         background-color: $hex;

         @include color-variants('background-color', $hex);
      }
      @include modifier('::background', 'transparent', 'focus') { background-color: transparent; }
      @include modifier('::text', $key, 'focus') {
         color: $hex;

         @include color-variants('color', $hex);
      }
      @include modifier('::border', $key, 'focus') {border-color: $hex; }
      @include modifier('::border', 'transparent', 'focus') {border-color: transparent; }

      @include modifier('@background', $key, 'active') {
         background-color: $hex;

         @include color-variants('background-color', $hex);
      }
      @include modifier('@background', 'transparent', 'active') { background-color: transparent; }
      @include modifier('@text', $key, 'active') {
         color: $hex;

         @include color-variants('color', $hex);
      }
      @include modifier('@border', $key, 'active') {border-color: $hex; }
      @include modifier('@border', 'transparent', 'active') {border-color: transparent; }
   }
}
