.display--block,
.display--show { display: block;  }

.display--none,
.display--hide { display: none; }

.display--inline   { display: inline; }
.display--iblock { display: inline-block; }
.display--flex   { display: flex; }
.display--iflex  { display: inline-flex; }
.display--grid { display: grid; }
.display--igrid { display: inline-grid; }
.display--subgrid { display: subgrid; }

@each $key, $value in $breakpoints {
   @include resize-to($key, 'display--block')    { display: block !important;  }
   @include resize-to($key, 'display--show')     { display: block !important;  }
   @include resize-to($key, 'display--inline')   { display: inline !important; }
   @include resize-to($key, 'display--iblock')   { display: inline-block !important; }
   @include resize-to($key, 'display--none')     { display: none !important; }
   @include resize-to($key, 'display--hide')     { display: none !important; }
   @include resize-to($key, 'display--flex')     { display: flex !important; }
   @include resize-to($key, 'display--iflex')    { display: inline-flex !important; }
   @include resize-to($key, 'display--grid')     { display: grid !important; }
   @include resize-to($key, 'display--igrid')    { display: inline-grid !important; }
   @include resize-to($key, 'display--subgrid')  { display: subgrid !important; }
}
