.display {
   @include modifier('block')        { display: block; }
   @include modifier('show')         { display: block; }
   @include modifier('hide')         { display: none; }
   @include modifier('none')         { display: none; }
   @include modifier('inline')       { display: inline; }
   @include modifier('inline-block') { display: inline-block; }
   @include modifier('flex')         { display: flex; }
   @include modifier('inline-flex')  { display: inline-flex; }
   @include modifier('grid')         { display: grid; }
   @include modifier('inline-grid')  { display: inline-grid; }
   @include modifier('subgrid')      { display: subgrid; }
}

@each $key, $value in $breakpoints {
   .display {
      @include resize-to($key, 'block')        { display: block;  }
      @include resize-to($key, 'show')         { display: block;  }
      @include resize-to($key, 'inline')       { display: inline; }
      @include resize-to($key, 'inline-block') { display: inline-block; }
      @include resize-to($key, 'none')         { display: none; }
      @include resize-to($key, 'hide')         { display: none; }
      @include resize-to($key, 'flex')         { display: flex; }
      @include resize-to($key, 'inline-flex')  { display: inline-flex; }
      @include resize-to($key, 'grid')         { display: grid; }
      @include resize-to($key, 'inline-grid')  { display: inline-grid; }
      @include resize-to($key, 'subgrid')      { display: subgrid; }
   }
}
