.flex--row     { flex-direction: row;            }
.flex--col     { flex-direction: column;         }
.flex--row-rev { flex-direction: row-reverse;    }
.flex--col-rev { flex-direction: column-reverse; }

.flex--wrap     { flex-wrap: wrap;         }
.flex--xwrap    { flex-wrap: nowrap;       }
.flex--wrap-rev { flex-wrap: wrap-reverse; }

.justify--between { justify-content: space-between; }
.justify--around  { justify-content: space-around; }
.justify--start   { justify-content: flex-start; }
.justify--end     { justify-content: flex-end; }
.justify--center  { justify-content: center; }

.items--center    { align-items: center; }
.items--start     { align-items: flex-start; }
.items--end       { align-items: flex-end; }
.items--stretch   { align-items: stretch; }
.items--baseline  { align-items: baseline; }

.content--center   { align-content: center; }
.content--start    { align-content: flex-start; }
.content--end      { align-content: flex-end; }
.content--stretch  { align-content: stretch; }
.content--baseline { align-content: baseline; }

@each $key, $breakpoint in $breakpoints {
   @include resize-to($key, 'flex--row')     { flex-direction: row; }
   @include resize-to($key, 'flex--row-rev') { flex-direction: row-reverse; }
   @include resize-to($key, 'flex--col')     { flex-direction: column; }
   @include resize-to($key, 'flex--col-rev') { flex-direction: column-reverse; }

   @include resize-to($key, 'flex--wrap')    { flex-wrap: wrap; }
   @include resize-to($key, 'flex--xwrap')   { flex-wrap: nowrap; }
   @include resize-to($key, 'flex--wraprev') { flex-wrap: wrap-reverse; }

   @include resize-to($key, 'justify--center')  { justify-content: center; }
   @include resize-to($key, 'justify--between') { justify-content: space-between; }
   @include resize-to($key, 'justify--around')  { justify-content: space-around; }
   @include resize-to($key, 'justify--start')   { justify-content: flex-start; }
   @include resize-to($key, 'justify--end')     { justify-content: flex-end; }

   @include resize-to($key, 'items--center')   { align-items: center; }
   @include resize-to($key, 'items--start')    { align-items: flex-start; }
   @include resize-to($key, 'items--end')      { align-items: flex-end; }
   @include resize-to($key, 'items--stretch')  { align-items: stretch; }
   @include resize-to($key, 'items--baseline') { align-items: baseline; }

   @include resize-to($key, 'content--center')   { align-content: center; }
   @include resize-to($key, 'content--start')    { align-content: flex-start; }
   @include resize-to($key, 'content--end')      { align-content: flex-end; }
   @include resize-to($key, 'content--stretch')  { align-content: stretch; }
   @include resize-to($key, 'content--baseline') { align-content: baseline; }
}
