.float {
   @include modifier('right') { float: right; }
   @include modifier('left') { float: left;  }
   @include modifier('none') { float: none; }

   @each $key, $breakpoint in $breakpoints {
      @include resize-to($key, 'right') { float: right; }
      @include resize-to($key, 'left')  { float: left;  }
      @include resize-to($key, 'none')  { float: none; }
   }
}

.clearfix,
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
