$block-width: 100% / $grid-columns;
$row-compensation: $grid-gutter * -1;

@mixin gutters() {
   @if $grid-gutter-setting == 'split'  {
      padding-left: $grid-gutter / 2;
      padding-right: $grid-gutter / 2;
   }
   @else {
      padding-left: $grid-gutter;
      padding-right: $grid-gutter;
   }
}

.grid {
   align-content: center;
   align-items: flex-start;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.grid--centered {
   align-content: center;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.row {
   @if $grid-gutter-setting == 'split' {
      $row-compensation: $row-compensation / 2;
   }

   display: flex;
   flex: 1 0 auto;
   flex-direction: row;
   flex-wrap: wrap;
   margin-right: $row-compensation;
   margin-left: $row-compensation;
}

.col {
   @include gutters();
   flex: 1 0 auto;
   position: relative;
}

.col--first { order: 0; }
.col--last { order: 1; }

@for $i from 1 through $grid-columns {
   .col-#{$i} {
      @include gutters();

      flex-basis: $i * $block-width;
      max-width: $i * $block-width;
      position: relative;
   }

   .offset-#{$i} {
      margin-left: $i * $block-width;
   }

   .push-#{$i} {
      left: $i * $block-width;
   }

   .pull-#{$i} {
      right: $i * $block-width;
   }
}

@each $key, $breakpoint in $breakpoints {

   @include resize-to($key, 'col--first') { order: 0; }
   @include resize-to($key, 'col--last') { order: 1; }

   @for $i from 1 through $grid-columns {
      @include resize-to($key, 'col-#{$i}') {
         @include gutters();
         flex-basis: $i * $block-width;
         max-width: $i * $block-width;
         position: relative;
      }

      @include resize-to($key, 'offset-#{$i}') { margin-left: $i * $block-width; }
      @include resize-to($key, 'push-#{$i}') { left: $i * $block-width; }
      @include resize-to($key, 'pull-#{$i}') { right: $i * $block-width; }
   }
}
