.off--hidden { overflow: hidden !important; }
.off--x { overflow-x: scroll !important; }
.off--y { overflow-y: scroll !important; }

@each $key, $breakpoint in $breakpoints {
   @include resize-to($key, 'off--hidden') { overflow: hidden !important;   }
   @include resize-to($key, 'off--x') { overflow-x: scroll !important; }
   @include resize-to($key, 'off--y') { overflow-y: scroll !important; }
}
