.overflow {
   @include modifier('hide') { overflow: hidden !important; }
   @include modifier('scroll') { overflow: scroll !important; }

   &-x {
      @include modifier('hide') { overflow-x: hidden !important; }
      @include modifier('scroll') { overflow-x: scroll !important; }
   }
   &-y {
      @include modifier('hide') { overflow-y: hidden !important; }
      @include modifier('scroll') { overflow-y: scroll !important; }
   }
}

@each $key, $breakpoint in $breakpoints {
   .overflow {
      @include resize-to($key, 'hide') { overflow: hidden !important; }
      @include resize-to($key, 'scroll') { overflow: scroll !important; }

      &-x {
         @include resize-to($key, 'hide') { overflow-x: hidden !important; }
         @include resize-to($key, 'scroll') { overflow-x: scroll !important; }
      }
      &-y {
         @include resize-to($key, 'hide') { overflow-y: hidden !important; }
         @include resize-to($key, 'scroll') { overflow-y: scroll !important; }
      }
   }
}
