.font-weight {
   @include builder ((modifier: 'thin'))      { font-weight: 100; }
   @include builder ((modifier: 'xlight'))    { font-weight: 200; }
   @include builder ((modifier: 'light'))     { font-weight: 300; }
   @include builder ((modifier: 'regular'))   { font-weight: 400; }
   @include builder ((modifier: 'medium'))    { font-weight: 500; }
   @include builder ((modifier: 'semi-bold')) { font-weight: 600; }
   @include builder ((modifier: 'bold'))      { font-weight: 700; }
   @include builder ((modifier: 'xbold'))     { font-weight: 800; }
   @include builder ((modifier: 'black'))     { font-weight: 900; }
}

@each $key, $breakpoint in $breakpoint-list {
   .text {
      &-align {
         @include builder ((modifier: 'left'))   { text-align: left;   }
         @include builder ((modifier: 'right'))  { text-align: right;  }
         @include builder ((modifier: 'center')) { text-align: center; }
      }

      &-transform {
         @include builder ((modifier: 'uppercase'))  { text-transform: uppercase;  }
         @include builder ((modifier: 'lowercase'))  { text-transform: lowercase;  }
         @include builder ((modifier: 'capitalize')) { text-transform: capitalize; }
         @include builder ((modifier: 'full-width')) { text-transform: full-width; }
      }

      &-hide {
         overflow: hidden;
         text-indent: 100%;
         white-space: nowrap;
      }
   }

   $fs: 1;
   @each $value in $font-sizes {
      .font-size {
         @include builder ((value: $fs, query: $key)) { font-size: $value; }
         $fs: $fs + 1;
      }
   }

   @for $i from 0 through 20 {
      $height: $i / 10;

      .letter-spacing {
         @include builder((value: $i, query: $key)) { letter-spacing: #{$i}px; }

         @if ($i > 0) {
            @include builder((value: '-#{$i}', query: $key)) { letter-spacing: -#{$i}px; }
         }
      }

      .line-height {
         @include builder((value: $i, query: $key)) { line-height: $height; }

         @if ($i > 0) {
            @include builder((value: '-#{$i}', query: $key)) { line-height: -#{$height}; }
         }
      }
   }
}

@each $key, $family in $font-families {
   .font {
      @include builder ((modifier: $key)) { font-family: $family; }
   }
}


