.font-weight {
   @include modifier('thin') { font-weight: 100; }
   @include modifier('xlight') { font-weight: 200; }
   @include modifier('light') { font-weight: 300; }
   @include modifier('regular') { font-weight: 400; }
   @include modifier('medium') { font-weight: 500; }
   @include modifier('semi-bold') { font-weight: 600; }
   @include modifier('bold') { font-weight: 700; }
   @include modifier('xbold') { font-weight: 800; }
   @include modifier('black') { font-weight: 900; }
}

.text {
   &-align {
      @include modifier('left') { text-align: left; }
      @include modifier('right') { text-align: right; }
      @include modifier('center') { text-align: center; }
   }

   &-transform {
      @include modifier('uppercase') { text-transform: uppercase; }
      @include modifier('lowercase') { text-transform: lowercase; }
      @include modifier('capitalize') { text-transform: capitalize; }
      @include modifier('full-width') { text-transform: full-width; }
   }

   &-hide {
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
   }
}

@each $key, $family in $font-families {
   .font {
      @include modifier($key) { font-family: $family; }
   }
}

@each $key, $breakpoint in $breakpoints {
   .text {
      &-align {
         @include resize-to($key, 'left') { text-align: left; }
         @include resize-to($key, 'right') { text-align: right; }
         @include resize-to($key, 'center') { text-align: center; }
      }

      &-transform {
         @include resize-to($key, 'uppercase') { text-transform: uppercase; }
         @include resize-to($key, 'lowercase') { text-transform: lowercase; }
         @include resize-to($key, 'capitalize') { text-transform: capitalize; }
         @include resize-to($key, 'full-width') { text-transform: full-width; }
      }

      &-hide {
         overflow: hidden;
         text-indent: 100%;
         white-space: nowrap;
      }
   }
}

$i: 1;
@each $value in $font-sizes {
   .font-size {
      @include value($i) { font-size: $value; }
      @each $key, $breakpoint in $breakpoints {
         @include resize-to($key, false, $i) { font-size: $value; }
      }

      $i: $i + 1;
   }
}

@for $i from 0 to 20 {
   .letter-spacing {
      @include value($i) { letter-spacing: #{$i}px; }

      @if ($i > 0) {
         @include value('-#{$i}') { letter-spacing: -#{$i}px; }
      }
   }

   .line-height {
      @include value($i) { line-height: #{$i} / 10; }
   }

   @each $key, $breakpoint in $breakpoints {
      .letter-spacing {
         @include resize-to($key, false, $i) { letter-spacing: #{$i}px; }

         @if ($i > 0) {
            @include resize-to($key, false, '-#{$i}') { letter-spacing: -#{$i}px; }
         }
      }

      .line-height {
         @include resize-to($key, false, $i) { line-height: #{$i} / 10; }
      }
   }
}
