
.weight--thin     { font-weight: 100 !important; }
.weight--xlight   { font-weight: 200 !important; }
.weight--light    { font-weight: 300 !important; }
.weight--normal   { font-weight: 400 !important; }
.weight--medium   { font-weight: 500 !important; }
.weight--semibold { font-weight: 600 !important; }
.weight--bold     { font-weight: 700 !important; }
.weight--xbold    { font-weight: 800 !important; }
.weight--black    { font-weight: 900 !important; }

.align--left { text-align: left !important; }
.align--center { text-align: center !important; }
.align--right { text-align: right !important; }

.text--lower { text-transform: lowercase; }
.text--upper { text-transform: uppercase; }

.ell {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.text--hide {
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;
}

.vam { vertical-align: middle; }

@each $key, $family in $font-families {
   .#{$key} {font-family: $family;}
}

@each $key, $breakpoint in $breakpoints {
   @include resize-to($key, 'align--left') { text-align: left !important; }
   @include resize-to($key, 'align--center') { text-align: center !important; }
   @include resize-to($key, 'align--right') { text-align: right !important; }
   @include resize-to($key, 'text--hide') {
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
   }
}

@each $name, $amount in $font-sizes {
   .#{$name} { font-size: $amount; }

   @each $key, $breakpoint in $breakpoints {
      @include resize-to($key, $name) { font-size: $amount; }
   }
}

@each $name, $amount in $letter-spacing {
   .#{$name} { letter-spacing: $amount; }

   @each $key, $breakpoint in $breakpoints {
      @include resize-to($key, $name) { letter-spacing: $amount; }
   }
}

@each $name, $amount in $line-height {
   .#{$name} { line-height: $amount !important; }

   @each $key, $breakpoint in $breakpoints {
      @include resize-to($key, $name) { line-height: $amount !important; }
   }
}
