// Breakpoints ................................................................
$breakpoint-list: (
   fl: 320px,
   xs: 480px,
   sm: 576px,
   md: 768px,
   lg: 900px,
   xl: 1200px
);
$mobile-first: false;

// Max/Min site sizes .........................................................
$site-floor: 320px;
$site-ceil: 1440px;

// Colors .....................................................................
$colors: (
   black: #000000,
   white: #ffffff,
   success: #28a745,
   danger:  #dc3545,
   warning: #ffc107,
   info:    #17a2b8
) !global;

// Fonts ......................................................................
$font-base-size: 62.5%; // If you change this you're going to need to change rootValue in postcss.config.js too

$font-families: (
   serif: #{'Playfair Display', Georgia, serif},
   sans:  #{Oswald,'Helvetica Neue', Helvetica, Arial, sans-serif},
   code:  #{Menlo, Consolas, Monaco, 'Andale Mono', monospace},
);

$font-sizes: (10px, 11px, 12px, 15px, 16.5px, 18px, 22.5px, 24.75px, 27px, 33.75px, 37.13px, 40.5px, 50.63px, 55.69px, 60.75px, 75.94px, 83.53px) !global;

// Borders ....................................................................
$border-size-amount: 20;
$border-radius-amount: 10;

// Grid .......................................................................
$grid-columns: 16;
$grid-gutter: 10px;
$grid-gutter-setting: 'padding'; // padding| split;

// Spacing ....................................................................
$spacing-amount: 20;
$spacing-multiplier: 5;

// Widths: width-5 = width: 5% ................................................
$width-breaks: 20;
