// Builder makes the styles look right

@function get-state($s) {
   @if ($s != false) {
      @return '\\:#{$s}:#{$s}';
   }

   @return '';
}

@mixin build($i:false, $should-respond: true, $should-state: true) {
   @if ($should-respond == true) {
      @each $query, $value in $breakpoint-list {
         @include state-loop($should-state, $state, $query, $i);
      }
   } @else {
      @include state-loop($should-state, $state, false, $i);
   }
}

@mixin state-loop($should-state, $state, $query, $i) {
   @if ($should-state == true) {
      @each $state in $states {
         $s: get-state($state);
         @include build-bit($query, $i, $s);
      }
   } @else {
      @include build-bit($query, $i, false);
   }
}

@mixin build-bit($query, $i, $s) {
   @if ($query == 'x' or $query == false) {
      @if ($i == false) {
         @include class($s, '.');
      } @else {
         @include classes($i, $s, '.');
      }
   } @else {
      @include mq($query) {
         .#{$query}\: {
            @if ($i == false) {
               @include class($s, '&');
            } @else {
               @include classes($i, $s, '&');
            }
         }
      }
   }
}


@mixin mq($bp) {
   $value: map-get($breakpoint-list, $bp);
   $mq: 'screen and' + '(#{$break-type}: #{$value})';

   @media #{$mq} { @content; }
}
