$breakpoints: ();
$break-type: 'max-width';

@if ($use-mobile-first-mq == true) {
   $break-type: 'min-width';
}

@each $name, $value in $breakpoint-list {
   $point: ($name: '(#{$break-type}: #{$value})');
   $breakpoints: map-merge($breakpoints, $point);
}

@mixin mq($bp) {
    $value: map-get($breakpoints, $bp);
    $mq: 'screen and' + $value;

    @media #{$mq} { @content; }
}

@mixin resize-to($key, $name, $value: false) {
   @include modifier($name, $value) {
      &\@#{$key} {
         @include mq($key) { @content; }
      }
   }
}


