/// This will strip a unit off a number turning it from a string to a number
/// @param  {String} $n
/// @return {Number}
@function value($n) {
   @return $n / ($n * 0 + 1);
}

/// Kills margin an padding
@mixin flatten() {
   margin: 0;
   padding: 0;
}

@mixin modifier($name: false, $value: false, $state: false) {
   $statement: "";

   @if ($name != false) {
      $statement: \[#{$name}\];
   }

   @if ($value != false) {
      $statement: #{$statement}\:#{$value};
   }

   @if ($state != false) {
      $statement: "#{$statement}:#{$state}";
   }

   @if ($statement != "") {
     &#{$statement} {
       @content
     }
   } @else {
     @content;
   }
}

@mixin value-modifier($value) {
   &\:#{$value} {
      @content;
   }
}

@mixin variant($value) {
   &\(#{$value}\) {
      @content;
   }
}
